.apropos {
    
background : #e0b874 ;
height : 1070px ;
width : 100% ;
    
h1 {
padding-top : 80px ;
text-align : center ;
color : #110066 ;
padding-bottom : 40px ;
}
    
p {
    
text-align : center ;
padding-top : 100px ;
color : #110066 ;
font-size :20px ;
font-weight: bold ;


}
    
}

.ligne4 {

height : 6px ;
width : 50px ;
background : #110066 ;
margin : auto ;

    
}

.passions {

display : flex ;
justify-content : space-evenly ;
padding-top : 30px ;

}

.digital {

height : 500px ;
width : 500px ;
margin-left: 40px;

img {

height : 100% ;
width : 100%; 

}
    
}


    