.citation {

    padding-top : 150px ;
    height : 600px ;
    background-image: url("images/whilenotjob2.png");
    display : flex ;
    align-items : center ;
    padding: 2vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color :#0f2663 ;
    font-size : 32px ;
    text-shadow: #e7ea4d 3px 0 10px ;
    font-weight: bold ;


    p {

    text-transform: uppercase ;

    }


    }