


.container-fluid {

padding-top : 80px ;
background : #249ac5 ;
height : 1880px ;
    
h1 {
    
text-align : center ;
color : #FFF ;
padding-bottom : 40px ;

}

h3 {

color : #FFF ;
text-align : center ;
padding-top : 30px ;

}
 
}

.col-12 {

display : flex ;
justify-content : center ;
}


.projet {

padding-top : 200px ;
height : 500px ;
width : 500px ;

span {

font-size: 20px;

}

img {

height : 100% ;
width : 100% ;
box-shadow:4px 4px 6px 0 white;

}

}

.ligne3 {

height : 6px ;
width : 50px ;
background : #FFF ;
margin : auto ;

}

.projetecole {

    display: flex;
    justify-content: center;

}

.videoprojet {

    margin-top: 140px;
    
}

#ecole {

    font-size: 20px;
    
}



// CARTES HOVER